![pic]($pic)

$title

More information about the subtitles, contributions, progress updates and all the scripts utilized in the making of this release can be found on the project's [GitHub repository](https://github.com/notdedsec/Jujutsu-Kaisen).

If mini-encodes are your thing, there's a smaller release available with similar filtering, muxed with these same subtitles on our website, [AnimeKaizoku](https://animekaizoku.com/jujutsu-kaisen-40748/).

Do leave feedback in the comments and report any issues you come across, preferably somewhere we can keep track of, like on Git or on Discord, so they can be fixed for the batch.

[Mediainfo](https://nekobin.com/qakutakuhi) | [Comparisons](https://slow.pics/c/GNjvDSzp) | [GitHub](https://github.com/notdedsec/Jujutsu-Kaisen) | [Discord](http://discord.animekaizoku.com/) | [Telegram](http://telegram.animekaizoku.com/)
